.left_side_bar{
		background: #dddddd;
		float: left;
		width: 20%;
		height: 60%;
		margin-left: 20px;

	}

	.side_bar_items{
		list-style-type: none;

	}

	.side_bar_item{
		padding-bottom: 10px;
		font-weight: bold;
	}

	h1{
		margin-left: 20px;
	}

	.main_body{
		background: #dddddd;
		float: left;
		margin-left: 20px;
		width: 60%;
		margin-top: 0px;
	}

	h2{
	 	margin-top: 0px;
	 }

	
	
	.product{
		float: left;
		width: 20%;
		margin-left: 10px;
		margin-right: 10px;
		border:1px solid black;
	}

	.product_img{
	 	width: 150px;
	 	height: 150px;
	 	float: center;
	 }