.left_side_bar{
		background: #dddddd;
		float: left;
		width: 20%;
		height: 60%;
		margin-left: 20px;

	}

	.side_bar_items{
		list-style-type: none;

	}

	.side_bar_item{
		padding-bottom: 10px;
		font-weight: bold;
	}

	h1{
		margin-left: 20px;
	}